	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/04/2017 11:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;    
}

.flaticon-wifi:before { content: "\f100"; }
.flaticon-disabled:before { content: "\f101"; }
.flaticon-outdoor-cafe:before { content: "\f102"; }
.flaticon-no-parking:before { content: "\f103"; }
.flaticon-parked-car:before { content: "\f104"; }
.flaticon-technology:before { content: "\f105"; }
.flaticon-tv-table:before { content: "\f106"; }
.flaticon-room-service:before { content: "\f107"; }
.flaticon-double-king-size-bed:before { content: "\f108"; }
.flaticon-bathtub:before { content: "\f109"; }
.flaticon-minisplit:before { content: "\f10a"; }
.flaticon-cigarette-with-smoke:before { content: "\f10b"; }
.flaticon-no-smoking:before { content: "\f10c"; }
.flaticon-cup:before { content: "\f10d"; }
.flaticon-restaurant-interface-symbol-of-fork-and-knife-couple:before { content: "\f10e"; }